
body {
 margin: 0;  
}

.body {
position: relative;
width: 768px;
height: 1024px; 

}
.menu {
position: absolute;
top: 0;
left: 0;
width: 320px; 
height: 1024px; 
box-shadow: -2px 0 4px 0 rgba(69, 79, 126, 0.02),
16px 0 52px 0  rgba(14, 24, 80, 0.2);
}

.menu__header-img_close-button {
position: absolute;
top: 23px;
left: 24px;
width: 40px;
height: 40px;
transition: transform 0.3s;
}
.menu__header-img_close-button:hover {
    position: absolute;
    top: 23px;
    left: 24px;
    width: 40px;
    height: 40px;
    transform: scale(1.1);
 
    }
.menu__header-img_logo {
position: absolute;
top: 18.73px;
left: 80.73px;
width: 97px;
height: 51px;
transition: opacity 0.3s;
}
.menu__header-img_logo:hover {
    position: absolute;
    top: 18.73px;
    left: 80.73px;
    width: 97px;
    height: 51px;
    opacity: 0.8;
    }
.menu__header-img_search-button {
 position: absolute;
 top: 23px;
 left: 256px;
 width: 40px;
 height: 40px;
 transition: transform 0.3s;

}
.menu__header-img_search-button:hover {
    position: absolute;
    top: 23px;
    left: 256px;
    width: 40px;
    height: 40px;
    transform: scale(1.1);
    }
@font-face {
    font-family: TT Lakes Regular;
    src: url(./fonts/TTLakes-Regular.ttf); 
}
.list {
position: absolute;
display: flex;
flex-direction: column;
width: 222px;
height: 876px;
top: 116px;
gap: 20px;
font-family: TT Lakes Regular;  
font-weight: 900;
line-height: 24px;
letter-spacing: -0.2px;
font-size: 16px;
color: rgba(27, 28, 33, 1);
} 
.list__repair {

 width: 144px;
 height: 40px;
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
transition: all 0.5s ease;
cursor: pointer;
}
.list__repair:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;

}
.list__services {
 width: 156px;
 height: 40px;
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
transition: all 0.5s ease;
cursor: pointer;
}
.list__services:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;
}
.list__clients {
 width: 222px;
 height: 40px;
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
cursor: pointer;
transition: all 0.5s ease;
}
.list__clients:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;
}
.list__sellers {
 width: 173px;
 height: 40px;
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
cursor: pointer;
transition: all 0.5s ease;
}
.list__sellers:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;
}
.list__partners {
 width: 109px;
 height: 40px;
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
cursor: pointer;
transition: all 0.5s ease;
}
.list__partners:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;
}
.list__creators {
 width: 154px;
 height: 40px; 
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
cursor: pointer;
transition: all 0.5s ease;
}
.list__creators:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;
}
.list__centers {
 width: 210px;
 height: 40px;
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
cursor: pointer;
transition: all 0.5s ease;
}
.list__centers:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;
}
.list__contacts {
 width: 97px;
 height: 40px;
 background-color: #ffffff;
 border: none;
 text-align: end;
 padding: 0;
 font-family: TT Lakes Regular;  
 font-size: 16px;
 color: rgba(27, 28, 33, 1);
 line-height: 24px;
letter-spacing: -0.2px;
font-weight: bold;
cursor: pointer;
transition: all 0.5s ease;
}
.list__contacts:hover {
background-image: url(./images/blue-line-menu.svg);
background-repeat: no-repeat;
background-position: left 0px top 2px;
opacity: 0.5;
}
.contact {
    display: flex;
    position: absolute;
    width: 200px;
    flex-wrap: wrap;
    top: 688px;
    left: 24px;
    gap: 14px;
} 
@font-face {
    font-family: TTLakes-Bold ;
    src: url(./fonts/TTLakes-ExtraBold.ttf);
}
.contact__email{
font-size: 16px;

}
.contact__number { 
font-family: TTLakes-Bold;
letter-spacing: -0.6px;
font-size: 24px;
line-height: 32px;
}

.contact__phone {
cursor: pointer;
transition: all 0.5s ease;
}
.contact__phone:hover {
 transform: scale(1.1);
} 
.contact__message {
    cursor: pointer;
    transition: all 0.5s ease;
    }
    .contact__message:hover {
     transform: scale(1.1);
    } 
    .contact__profile {
        cursor: pointer;
        transition: all 0.5s ease;
        }
        .contact__profile:hover {
         transform: scale(1.1);
        } 
.language {
  display: flex;
  gap: 8px;
  position: absolute;
  top: 852px;
  left: 24px;
  color: rgba(27, 28, 33, 1);
}
.language__ru {
    transition: all 0.5s ease; 
}
.language__ru:hover {
    opacity: 0.5;
    cursor: pointer;
}
.language__en {
    transition: all 0.5s ease; 
}
.language__en:hover {
    opacity: 0.5;
    cursor: pointer;
}
.language__ch {
    transition: all 0.5s ease; 
}
.language__ch:hover {
    opacity: 0.5;
    cursor: pointer;
}