 @media screen and ( min-width: 320px ) and (max-width: 768px) {

 body {
    margin: 0;
}
  .body {
    width: 320px;
    height: 597px;
    background-color: #F8F8F8; 
  }
  .header {
    background-color:#ffffff;
    width: 320px;
    height: 88px;
    margin-bottom: -14px;
}
  .nav {
    display: flex;
    width: 320px; 
    height: 88px; 
} 
.aside-tablet {
  display: none;
}
.section__text_tablet {
  display: none;

}
.section__text_desktop {
  display: none;
}
  .nav__button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    margin-top: 24px;
    cursor: pointer;
    background-image: url(./images/svg-1.svg);
    background-repeat: no-repeat;
    margin-left: 16px;
  }
  .nav__button1 {
    padding-right: 1.5px;
    width: 96.55px;
    height: 50.81px;
    border: none;
    background-color: #ffffff;
    margin-top: 18.59px;
    border: 0.5px solid #ffffff;
    cursor: pointer;
    background-image: url(./images/svg.svg);
    background-repeat: no-repeat;
    margin-left: 16px;
  }
  .nav__line {
    width: 2px;
    height: 32px;
    margin-top: 28px;
    background-image: url(./images/line.svg);
    background-repeat: no-repeat; 
    margin-left: 16px;
  } 
  .nav__button2 {
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    margin-top: 24px;
    cursor: pointer;
    background-image: url(./images/svg-2.svg);
    margin-left: 20px;
  }

  .nav__button3 {
    width: 40px;
    height: 40px;
    margin-top: 24px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    background-image: url(./images/svg-3.svg);
    background-repeat: no-repeat;
    margin-left: 16px;
  }

@font-face {
    font-family: TT Lakes;
    src: url(./TTLakes-Bold.ttf);
  }
  .shadow {
    display: block;
    width: 320px;
    height: 1px;
    background-image: url(./images/shadow.svg);
    background-repeat: repeat-x;
    margin-top: 13.5px;
  }
  .first {
    display: flex;
    width: 304px;     
    height: 40px; 
  } 
  .first__blue-line {
   background-image: url(./images/blue-line.svg);
   width: 4px;
   height: 40px;
   margin-top: 24px;
  }
  .first__blue-line_h1 { 
    margin-top: 0;
    margin-left: 16px;
    width: 288px;
    height: 40px; 
    font-family: TT Lakes;
    font-size: 28px;
    line-height: 40px;
    letter-spacing: -0,6px; 
    font-family: TT Lakes;
    font-weight: 900px; 
    letter-spacing: -0.6px;
  }
  @font-face {
    font-family: TT Lakes Regular;
    src: url(./TTLakes-Regular.ttf);
  } 
  
  .scroll {
    display: flex;
    width: auto;
    height: auto;
    flex-wrap: nowrap;
    overflow-x: scroll;
  }
  .scroll::-webkit-scrollbar {
    width: 12px; 
    height: 8px;              
  }
  .scroll::-webkit-scrollbar-track {
    background: #F8F8F8;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: gray;  
    border-radius: 20px;       
    border: 3px solid #F8F8F8;  
  }
  
  .scroll__repairs {
    background-color: #F8F8F8;
    margin-left: 16px;
    margin-top: 48px; 
    width: 246px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px;
    padding-left: 16px;
    cursor: pointer;
    padding-right: 16px;
    font-weight: 550;
    border: none;
  }
  .scroll__repairs:hover {
    background-color: #ffffff;
    margin-left: 12px;
    margin-top: 48px; 
    width: 245px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px;
    border: 2px solid #B8FFEC;
    border-radius: 6px; 
    padding-left: 18px;
    cursor: pointer;
    padding-right: 16px;
    font-weight: 550;
  }

.scroll__unnecessary {
    margin-top: 48px; 
    width: 200px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px; 
    padding-left: 8px;
    padding-right: 8px;
    background-color: #F8F8F8;
    border: none;
  }
  .scroll__unnecessary:hover {
    background-color: #ffffff;
    margin-top: 48px; 
    width: 202px; 
    margin-left: -2px;
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px;
    border: 2px solid #B8FFEC; 
    border-radius: 6px;
    padding-left: 8px;
    padding-right: 6px;
    cursor: pointer;
    font-weight: 550;
     

  }
  .scroll__prices {
    margin-top: 48px; 
    width: 139px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px; 
    background-color: #F8F8F8;
    border: 2px solid #F8F8F8;
    padding-left: 8px;
    padding-right: 8px;
  }
  .scroll__prices:hover { 
      background-color: #ffffff;
      margin-top: 48px; 
      width: 141px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px;
      border: 2px solid #B8FFEC; 
      border-radius: 6px;
      cursor: pointer;
      font-weight: 550;
      padding-left: 8px;
      padding-right: 8px;
  }
  .scroll__special-prices {
    margin-top: 48px; 
    width: 165px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px; 
    padding-left: 8px;
    padding-right: 8px;
    background-color: #F8F8F8;
    border: none;
  }
  .scroll__special-prices:hover { 
    background-color: #ffffff;
    margin-top: 48px; 
    width: 165px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px;
    border: 2px solid #B8FFEC; 
    border-radius: 6px;
    cursor: pointer;
    font-weight: 550;
    padding-left: 6px;
    padding-right: 6px;
}
  .scroll__adresses {
    margin-top: 48px; 
    width: 216.71px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px; 
    padding-left: 16px;
    background-color: #F8F8F8;
    border: none;
    padding-left: 8px;
    padding-right: 8px;
  }
  .scroll__adresses:hover { 
    background-color: #ffffff;
    margin-top: 48px; 
    width: 216.71px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px;
    border: 2px solid #B8FFEC; 
    border-radius: 6px;
    cursor: pointer;
    font-weight: 550;
    padding-left: 6px;
    padding-right: 6px;
}
.scroll__reviews {
  margin-top: 48px; 
  width: 242px; 
  height: 40px;
  font-family: TT Lakes Regular;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82; 
  letter-spacing: -0.2px; 
  padding-left: 8px; 
  padding-right: 8px;
  background-color: #F8F8F8;
  border: none;
}
.scroll__reviews:hover { 
  background-color: #ffffff;
  margin-top: 48px; 
  width: 242px; 
  height: 40px;
  font-family: TT Lakes Regular;
  font-size: 16px;
  line-height: 24px;
  color: #7E7E82; 
  letter-spacing: -0.2px;
  border: 2px solid #B8FFEC; 
  border-radius: 6px;
  cursor: pointer;
  font-weight: 550;
  padding-left: 6px;
  padding-right: 6px;
}
.section {
    width: 320px; 
    height: 90px;
    margin-top: 16px;
    text-align: left;
    font-family: TT Lakes Regular;
    font-size: 14px;
    letter-spacing: 0.2px;
    line-height: 18px; 
    color: #1B1C21;
    margin-bottom: 16px;
  } 
.section__text {
    margin-left: 16px;
    width: 288px;
    height: 90px;
  }

.aside { 
    width: 132px;
    height: 24px;
    margin-left: 22px;
    font-weight: 700;

  } 
.aside__read {
    margin-left: 8px;
    font-size: 16px; 
  }
.aside__arrows {
    margin: -6px; 
    margin-top: 16px;
  }
.section__img {
    margin-top: 36px;
    height: 206.2px;
    width: 320px; 

  }
.section__img_tablet {
  display: none;
} 
.aside-tablet-desktop {
   display: none;
}
.section__img_desktop {
  display: none;
}
.application {
  display: none;

}
}
@media screen and (min-width: 768px) and (max-width: 1120px) {

  body {
     margin: 0;
 }
   .body {
     width: 768px;
     height: 504px;
     background-color: #F8F8F8; 
   }
   .header {
     background-color:#ffffff;
     width: 768px;
     height: 88px;
     margin-bottom: -14px;
 }
   .nav {
     display: flex;
     width: 768px; 
     height: 88px; 
 } 
 
 .section__text_desktop {
  display: none;
 }
 .application {
  display: none;

}
   .nav__button {
     width: 40px;
     height: 40px;
     border: none;
     background-color: #ffffff;
     margin-top: 24px;
     cursor: pointer;
     background-image: url(./images/svg-1.svg);
     background-repeat: no-repeat;
     margin-left: 24px;
   }
     .nav__line_tablet {
       width: 2px;
       height: 32px;
       margin-top: 28px;
       background-image: url(./images/line.svg);
       background-repeat: no-repeat; 
       margin-left: 20px;
     } 
   
   .nav__button1 {
     padding-right: 1.5px;
     width: 96.55px;
     height: 50.81px;
     border: none;
     background-color: #ffffff;
     margin-top: 18.59px;
     border: 0.5px solid #ffffff;
     cursor: pointer;
     background-image: url(./images/svg.svg);
     background-repeat: no-repeat;
     margin-left: 20px;
   }
   .nav__phone_tablet {
    width: 40px;
    height: 40px;
    background-image: url(./images/phone.svg);
    background-repeat: no-repeat;
    margin-top: 24px; 
    margin-left: 250.72px;

   }
   .nav__message_tablet {
    width: 40px;
    height: 40px;
    background-image: url(./images/message.svg);
    background-repeat: no-repeat;
    margin-top: 24px;
    margin-left: 16px;

   }
   .nav__profile_tablet {
    width: 40px;
    height: 40px;
    background-image: url(./images/profile.svg);
    background-repeat: no-repeat;
    margin-top: 24px;
    margin-left: 16px;

   }
   .nav__line_tablet1 {
     width: 2px;
     height: 32px;
     margin-top: 28px;
     background-image: url(./images/line.svg);
     background-repeat: no-repeat; 
     margin-left: 20px;
   } 
   .nav__button2 {
     width: 40px;
     height: 40px;
     border: none;
     background-color: #ffffff;
     margin-top: 24px;
     cursor: pointer;
     background-image: url(./images/svg-2.svg);
     margin-left: 20px;
   }
   .nav__search_tablet {
    width: 40px;
    height: 40px;
    margin-top: 24px;
    border: none;
    background-color: #ffffff;
    cursor: pointer;
    background-image: url(./images/svg-3.svg);
    background-repeat: no-repeat;
    margin-left: 16px;
  }
 
 @font-face {
     font-family: TT Lakes;
     src: url(./TTLakes-Bold.ttf);
   }
   .shadow {
    background-image: url(./images/shadow.svg);
    background-repeat: repeat-x;
    width: 768px;
    height: 1px;
    margin-top: 13.5px;
   }
   .first {
     display: flex;
     width: 304px;     
     height: 40px; 
   } 
   .first__blue-line {
    background-image: url(./images/blue-line.svg);
    width: 4px;
    height: 40px;
    margin-top: 24px;
   }
   .first__blue-line_h1 { 
     margin-top: 0;
     margin-left: 16px;
     width: 288px;
     height: 40px; 
     font-family: TT Lakes;
     font-size: 28px;
     line-height: 40px;
     letter-spacing: -0,6px; 
     font-family: TT Lakes;
     font-weight: 900px; 
     letter-spacing: -0.6px;
   }
   @font-face {
     font-family: TT Lakes Regular;
     src: url(./TTLakes-Regular.ttf);
   } 
   
   .scroll {
     display: flex;
     width: auto;
     height: auto;
     flex-wrap: nowrap;
     overflow-x: scroll;
   }
   .scroll::-webkit-scrollbar {
     width: 12px; 
     height: 8px;              
   }
   .scroll::-webkit-scrollbar-track {
     background: #F8F8F8;
   }
   .scroll::-webkit-scrollbar-thumb {
     background-color: gray;  
     border-radius: 20px;       
     border: 3px solid #F8F8F8;  
   }
   
   .scroll__repairs {
     background-color: #F8F8F8;
     margin-left: 16px;
     margin-top: 48px; 
     width: 246px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px;
     padding-left: 16px;
     cursor: pointer;
     padding-right: 16px;
     font-weight: 550;
     border: none;
   }
   .scroll__repairs:hover {
    background-color: #ffffff;
     margin-top: 48px; 
     margin-left: 16px;
     width:  246px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px;
     border: 2px solid #B8FFEC; 
     border-radius: 6px;
     cursor: pointer;
     font-weight: 550;
     padding-left: 14px;
     padding-right: 14px;

   }
 
 .scroll__unnecessary {
     margin-top: 48px; 
     width: 242px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px; 
     padding-left: 16px;
     padding-right: 16px;
     background-color: #F8F8F8;
     border: none;
   }
   .scroll__unnecessary:hover {
    background-color: #ffffff;
    margin-left: -2px;
     margin-top: 48px; 
     width:  238px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px;
     border: 2px solid #B8FFEC; 
     border-radius: 6px;
     cursor: pointer;
     font-weight: 550; 
     padding-left: 16px;
     padding-right: 14px;

   }
   .scroll__prices {
     margin-top: 48px; 
     width: 242px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px; 
     padding-left: 16px;
     padding-right: 16px;
     background-color: #F8F8F8;
     border: none;
   }
   .scroll__prices:hover {
       background-color: #ffffff;
       margin-top: 48px; 
       width: 242px; 
       height: 40px;
       font-family: TT Lakes Regular;
       font-size: 16px;
       line-height: 24px;
       color: #7E7E82;
       letter-spacing: -0.2px;
       border: 2px solid #B8FFEC; 
       border-radius: 6px;
       cursor: pointer;
       font-weight: 550;
       padding-right: 14px;
       padding-left: 14px;
    }
   .scroll__special-prices {
     margin-top: 48px; 
     width: 211px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px; 
     padding-left: 16px;
     padding-right: 16px;
     background-color: #F8F8F8;
     border: none;
   }
   .scroll__special-prices:hover {
    background-color: #ffffff;
     margin-top: 48px; 
     width: 211px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px;
     border: 2px solid #B8FFEC; 
     border-radius: 6px;
     cursor: pointer;
     font-weight: 550;
     padding-right: 14px;
     padding-left: 14px;
   }
   .scroll__adresses {
     margin-top: 48px; 
     width: 220px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px;
     padding-left: 8px;
     padding-right: 8px;
     background-color: #F8F8F8;
     border: none;
   }
   .scroll__adresses:hover {
    background-color: #ffffff;
     margin-top: 48px; 
     margin-left: -2px;
     width: 220px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px;
     border: 2px solid #B8FFEC; 
     border-radius: 6px;
     cursor: pointer;
     font-weight: 550;
     padding-left: 8px;
     padding-right: 6px;
   }
   .scroll__reviews {
    margin-top: 48px; 
    width: 90px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px; 
    padding-left: 10px;
    background-color: #F8F8F8;
    border: none;
    padding: 0;
    padding-left: 10px;
    padding-right: 10px;
  }
  .scroll__reviews:hover {
    background-color: #ffffff;
     margin-top: 48px; 
     width: 94px; 
     height: 40px;
     font-family: TT Lakes Regular;
     font-size: 16px;
     line-height: 24px;
     color: #7E7E82; 
     letter-spacing: -0.2px;
     border: 2px solid #B8FFEC; 
     border-radius: 6px;
     cursor: pointer;
     font-weight: 550;
     padding-left: 8px;
     padding-right: 8px;

  }
 .section {
     display: flex;
     flex-wrap: wrap;
     width: 760px;
     height: 208px; 
     margin-top: 16px;
     text-align: left;
     font-family: TT Lakes Regular;
     font-size: 14px;
     letter-spacing: 0.2px;
     line-height: 18px; 
     color: #1B1C21;
     margin-bottom: 16px;
   } 
 .section__text {
     margin-left: 16px;
     width: 312px;
     height: 160px;
   }
.section__text_tablet {
  margin: 0;

}
   .aside {
    display: none;
   }

   .aside-tablet-desktop {
    display: none;
   }
 
 .aside-tablet {  
     margin: 0;
     font-family: TT Lakes Regular;
     width: 132px;
     height: 24px;
     margin-left: 22px;
     font-weight: 700;
     overflow: hidden; 
     margin-top: 16px;
     margin-left: 6px;
 
   } 
 .aside__read {
     margin-left: 12px;
     font-size: 16px; 
   }
 .aside__arrows {
     margin: -6px; 
   }
   .section__img{
    display: none;
   }
 .section__img_tablet { 
  width: 384px;
  height: 208px;   
  margin-left: 48px;
  margin-top: 16px;
  background-image: url(./images/cps__tablet.png) ;
  background-repeat: no-repeat; 
  border-radius: 5px;
   } 
   .section__img_desktop {
    display: none;
   }
   .aside-tablet__desktop {
    display: none;
   }
  }

  @media screen and (min-width: 1120px) {
    body {
      margin: 0;
      background-color: #F8F8F8; 
  }
    .body {
      width: 1120px;
      height: 493px;
      background-color: #F8F8F8;
      padding-top: 42px; 
    }

    .header {
   display: none;
  }
  .shadow {
    display: none;
  }

    .nav {
      display: flex;
      width: 1120px; 
      height: 88px; 
  } 
  .aside-tablet {
    display: none;
  }
    .nav__button {
      width: 40px;
      height: 40px;
      border: none;
      background-color: #ffffff;
      margin-top: 24px;
      cursor: pointer;
      background-image: url(./images/svg-1.svg);
      background-repeat: no-repeat;
      margin-left: 16px;
    }
    .nav__button1 {
      padding-right: 1.5px;
      width: 96.55px;
      height: 50.81px;
      border: none;
      background-color: #ffffff;
      margin-top: 18.59px;
      border: 0.5px solid #ffffff;
      cursor: pointer;
      background-image: url(./images/svg.svg);
      background-repeat: no-repeat;
      margin-left: 16px;
    }
    .nav__line {
      width: 2px;
      height: 32px;
      margin-top: 28px;
      background-image: url(./images/line.svg);
      background-repeat: no-repeat; 
      margin-left: 16px;
    } 
    .nav__button2 {
      width: 40px;
      height: 40px;
      border: none;
      background-color: #ffffff;
      margin-top: 24px;
      cursor: pointer;
      background-image: url(./images/svg-2.svg);
      margin-left: 20px;
    }
  
    .nav__button3 {
      width: 40px;
      height: 40px;
      margin-top: 24px;
      border: none;
      background-color: #ffffff;
      cursor: pointer;
      background-image: url(./images/svg-3.svg);
      background-repeat: no-repeat;
      margin-left: 16px;
    }
  
  @font-face {
      font-family: TT Lakes;
      src: url(./TTLakes-Bold.ttf);
    }
   
    .first {
      display: flex;
      width: 304px;     
      height: 40px; 
    } 
    .first__blue-line {
     background-image: url(./images/blue-line.svg);
     width: 4px;
     height: 40px;
    }
    .first__blue-line_h1 { 
      margin-top: 0;
      margin-left: 33px;
      width: 288px;
      height: 40px; 
      font-family: TT Lakes;
      font-size: 28px;
      line-height: 40px;
      letter-spacing: -0,6px; 
      font-family: TT Lakes;
      font-weight: 900px; 
      letter-spacing: -0.6px;
    }
    @font-face {
      font-family: TT Lakes Regular;
      src: url(./TTLakes-Regular.ttf);
    } 
    
    .scroll {
      display: flex;
      width: auto;
      height: auto;
      flex-wrap: wrap;
      margin-left: 33px;
      margin-top: 8px;
    }
    .scroll::-webkit-scrollbar {
      width: 12px; 
      height: 8px;              
    }
    .scroll::-webkit-scrollbar-track {
      background: #F8F8F8;
    }
    .scroll::-webkit-scrollbar-thumb {
      background-color: gray;  
      border-radius: 20px;       
      border: 3px solid #F8F8F8;  
    }
    .scroll__repairs {
      background-color: #F8F8F8;
     border: none;
      width: 243px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px; 
      cursor: pointer;
      padding-right: 16px;
      padding-left: 16px;
      font-weight: 550;
    }
    .scroll__repairs:hover {
      background-color: #ffffff ;
      width: 243px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px;
      border: 2px solid #B8FFEC; 
      border-radius: 6px;
      padding-left: 14px;
      padding-right: 14px;
      cursor: pointer;
      font-weight: 550;
    }
  
  .scroll__unnecessary {
    
      width: 211px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px; 
      padding-left: 16px;
      padding-right: 16px;
      background-color: #F8F8F8;
      border: none;
  }
      .scroll__unnecessary:hover {
    
        background-color: #ffffff ;
        width: 211px; 
        height: 40px;
        font-family: TT Lakes Regular;
        font-size: 16px;
        line-height: 24px;
        color: #7E7E82; 
        letter-spacing: -0.2px;
        border: 2px solid #B8FFEC; 
        border-radius: 6px;
        padding-left: 14px;
        padding-right: 14px;
        cursor: pointer;
        font-weight: 550;
    }
    .scroll__prices {
      
      width: 150px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px; 
      padding-left: 16px;
      background-color: #F8F8F8;
      border: none;
    }
    .scroll__prices:hover {
    
      background-color: #ffffff ;
      width: 150px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px;
      border: 2px solid #B8FFEC; 
      border-radius: 6px;
      padding-left: 16px;
      cursor: pointer;
      font-weight: 550;
  }
    .scroll__special-prices {
      width: 191px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px; 
      padding-left: 16px;
      padding-right: 16px;
      background-color: #F8F8F8;
      border: none;
    }
    .scroll__special-prices:hover {
      background-color: #ffffff ;
      width: 191px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px;
      border: 2px solid #B8FFEC; 
      border-radius: 6px;
      padding-left: 16px;
      padding-right: 16px;
      cursor: pointer;
      font-weight: 550;
  }
    .scroll__adresses {
   
      width: 233px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px; 
      padding-right: 16px;
      padding-left: 16px;
      background-color: #F8F8F8;
      border: none;
    }
    .scroll__adresses:hover {
    
      background-color: #ffffff ;
      width: 233px; 
      height: 40px;
      font-family: TT Lakes Regular;
      font-size: 16px;
      line-height: 24px;
      color: #7E7E82; 
      letter-spacing: -0.2px;
      border: 2px solid #B8FFEC; 
      border-radius: 6px;
      padding-left: 14px;
      padding-right: 14px;
      cursor: pointer;
      font-weight: 550;
  }
  .scroll__reviews {
    margin-top: 8px; 
    width: 95px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px; 
    padding-left: 16px;
    padding-right: 16px;
    background-color: #F8F8F8;
    border: none;
  }
  .scroll__reviews:hover {
  
    background-color: #ffffff ;
    width: 95px; 
    height: 40px;
    font-family: TT Lakes Regular;
    font-size: 16px;
    line-height: 24px;
    color: #7E7E82; 
    letter-spacing: -0.2px;
    border: 2px solid #B8FFEC; 
    border-radius: 6px;
    padding-left: 14px;
    padding-right: 14px;
    cursor: pointer;
    font-weight: 550;
}
  .section {
      display: flex;
      flex-wrap: wrap;
      width: auto;
      height: auto;
      text-align: left;
      font-family: TT Lakes Regular;
      font-size: 14px;
      letter-spacing: 0.2px;
      line-height: 18px; 
      color: #1B1C21;
      margin-left: 33px;
    } 
  .section__text_desktop {
      width: 490px;
      height: auto;
      margin-bottom: 0;
      margin-top: 24px;
    }
  
   .aside-tablet-desktop{  
    margin: 0;
    font-family: TT Lakes Regular;
    width: 132px;
    height: 24px;
    font-weight: 700;
    overflow: hidden; 
    margin-left: 4px;
    margin-top: -112px;

  }  
  .aside__read {
      margin-left: 8px;
      font-size: 16px; 
    }
  .aside__arrows {
      margin: -6px; 
    }
  .section__img {
      margin-top: 36px;
      height: 206.2px;
      width: 320px; 
  
    }
    .section__img_desktop { 
      width: 531.35px;
      height: 307px;   
      margin-left: 36px;
      background-image: url(./images/_MG_3223cps__desk.png);
      background-repeat: no-repeat; 
      border-radius: 5px;
       } 
    .section__text {
     width: 490px;
     line-height: 20px;

    }
  .section__text_tablet {
    display: none;
  } 
  .section__img {
    display: none;
  }
  .section__img_tablet {
    display: none;
  }
  .aside {
    display: none;
  }
  .application {
    display: flex;
  }
  .label {
    margin-left: 716px; 
    display: flex;
    width: 173px;
    height: 40px;
    font-size: 16px;
    font-family: TT Lakes Regular;
    font-weight: 700;
    align-items: center;
    }
  .label__input {
    width: 40px; 
    height: 40px; 
    margin-left: 8px;
    border: none;
    background-color: #F8F8F8;
    background-image: url(./images/svg-2.svg);
  }

  .label1 {
    margin-left: 32px; 
    display: flex;
    width: 173px;
    height: 40px;
    font-size: 16px;
    font-family: TT Lakes Regular;
    font-weight: 700;
    align-items: center;

  }
  .label__input1 {
    width: 40px; 
    height: 40px; 
    margin-left: 8px;
    border: none;
    background-color: #F8F8F8;
    background-image: url(./images/svg-3.svg);

  }
  }