
html {
  height: 100%;
}
  * { 
  box-sizing: border-box;
}
  body {
    width: 100%;
    height: 100%;
  margin: 0;
}
@media screen and (min-width: 0px) and (max-width: 767px) { 
  .wrapper {
  display: flex; 
  flex-wrap: wrap;
  width: 100%;
  min-width: 320px;
  height: 100vh;
  background-color: rgba(248, 248, 248, 1);
}
.header {
  position: relative;
  display: flex;
  width: 100%;
  min-width: 320px;
  height: 88px;
  background-color: #ffffff;
  border: 0; 
  border-bottom: 1px solid rgba(217, 255, 245, 1);
}
.header__button_menu {
  position: absolute;
  top: 27%;
  left: 5%;
  background-image: url(./images/svg-1.svg);
  width: 40px;
  height: 40px;
  border: none;
  background-color: #ffffff;
  transition: transform 0.5s ease;
}
.header__button_menu:hover {
   transform: scale(1.1);
   cursor: pointer;
}
.header__button_cps {
  position: absolute;
  top: 21.1%;
  left: 22.6%;
  background-image: url(./images/svg.svg);
  width: 98.55px;
  height: 50.81px;
  border: none;
  background-color: #ffffff;
  background-repeat: no-repeat;
} 
.header__divider_before_repair::before {
  content: url(./images/line.svg);
  position: absolute;
  top: 27%;
  left: 58%;
  width: 2px;
  height: 32px;
}
.header__button_repair {
position: absolute; 
top: 27%;
left: 65%;
width: 40px;
height: 40px;
background-image: url(./images/svg-2.svg);
border: none; 
background-color: #ffffff;
transition: transform 0.5s ease;
}
.header__button_repair:hover {
 transform: scale(1.1);
cursor: pointer;
}
.header__button_search {
  position: absolute; 
  top: 27%;
  left: 82.5%;
  width: 40px;
  height: 40px;
  background-image: url(./images/svg-3.svg);
  border: none; 
  background-color: #ffffff;
  transition: transform 0.5s ease; 
  }
  .header__button_search:hover {
    transform: scale(1.1);
    cursor: pointer;
  }
  .main {
    position: absolute; 
    top: 88px;
    display: flex;
    width: 100%;
    background-color: #F8F8F8; 
  }
  @font-face {
    font-family: TT Lakes bold;
    src: url(./fonts/TTLakes-Bold.ttf);
  }
  .title {
    display: flex;
    position: absolute ;
    width: 100%; 
    align-items: center;
    font-family: TT Lakes bold;
    letter-spacing: -0.6px;
    font-size: 28px;
  }
  .title::before {
   content: url(./images/blue-line.svg);
   width: 4px;
   height: 40px;
   margin-right: 4%;
 }
 @font-face {
  font-family: TT Lakes Regular;
  src: url(./fonts/TTLakes-Regular.ttf);
 } 
  
 .scroll {
  display: flex;
  position: absolute;
  top: 77px; 
  left: 4.5%;
  width: 96%;
  height: 48px;
  overflow-x: scroll;
  white-space: pre;
 }
.scroll__repairs {
  padding: 20px;
  font-family: TT Lakes Regular;
  color: rgba(126, 126, 130, 1);
  font-size: 16px;
  display: flex;
  align-items: center;
  border: none;  
  background-color: rgba(248, 248, 248, 1);
}
 .scroll__repairs:hover {
 border: 2px solid rgba(184, 255, 236, 1); 
 background-color: #ffffff;
border-radius: 6px; 
padding: 18px;
display: flex;
align-items: center;
color: rgba(126, 126, 130, 1);
font-family: TT Lakes Regular;
font-size: 16px;
cursor: pointer;
}
.scroll__addition {
 
  padding: 20px;
  font-family: TT Lakes Regular;
  color: rgba(126, 126, 130, 1);
  font-size: 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
   border: none;  
  background-color: rgba(248, 248, 248, 1);
}
.scroll__addition:hover {

    border: 2px solid rgba(184, 255, 236, 1); 
    background-color: #ffffff;
   border-radius: 6px; 
   padding: 18px;
   display: flex;
   align-items: center;
   color: rgba(126, 126, 130, 1);
   font-family: TT Lakes Regular;
   font-size: 16px;
   }
   .scroll__prices {
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
   .scroll__prices:hover {

    border: 2px solid rgba(184, 255, 236, 1); 
    background-color: #ffffff;
   border-radius: 6px; 
   padding: 18px;
   display: flex;
   align-items: center;
   color: rgba(126, 126, 130, 1);
   font-family: TT Lakes Regular;
   font-size: 16px;
   }
   .scroll__special-prices {
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
   .scroll__special-prices:hover {

    border: 2px solid rgba(184, 255, 236, 1); 
    background-color: #ffffff;
   border-radius: 6px; 
   padding: 18px;
   display: flex;
   align-items: center;
   color: rgba(126, 126, 130, 1);
   font-family: TT Lakes Regular;
   font-size: 16px;
   }
   .scroll__adresses {
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
   .scroll__adresses:hover {

    border: 2px solid rgba(184, 255, 236, 1); 
    background-color: #ffffff;
   border-radius: 6px; 
   padding: 18px;
   display: flex;
   align-items: center;
   color: rgba(126, 126, 130, 1);
   font-family: TT Lakes Regular;
   font-size: 16px;
   } 
   .scroll__reviews {
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
   .scroll__reviews:hover {
   border: 2px solid rgba(184, 255, 236, 1); 
   background-color: #ffffff;
   border-radius: 6px; 
   padding: 18px;
   display: flex;
   align-items: center;
   color: rgba(126, 126, 130, 1);
   font-family: TT Lakes Regular;
   font-size: 16px;
   }  
   .scroll::-webkit-scrollbar {
    width: 12px; 
    height: 8px;              
  }
  .scroll::-webkit-scrollbar-track {
    background: #F8F8F8;
  }
  .scroll::-webkit-scrollbar-thumb {
    background-color: gray;  
    border-radius: 20px;       
    border: 3px solid #F8F8F8;  
  }
  body::-webkit-scrollbar {
    width: 12px; 
    height: 8px;              
  }
  body::-webkit-scrollbar-track {
    background: #F8F8F8;
  }
  body::-webkit-scrollbar-thumb {
    background-color: gray;  
    border-radius: 20px;       
    border: 3px solid #F8F8F8;  
  }
  .first-block {
    width: 100%;
    }
  .first-block__article { 
    position: absolute;
    width: 90%; 
    left: 6%;
    top: 135px; 
    font-size: 14px;
    color: rgba(27, 28, 33, 1);
    font-family: TT Lakes Regular; 
    text-align: left;
    letter-spacing: 0.2px;
    line-height: 18px;

  }
  .read {
    display: flex;
    align-items: center;
    position: absolute;
    top: 93%;
    white-space: pre;
    background-color: #F8F8F8;
    border: none;
    font-size: 16px;
    font-family: TT Lakes Regular;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .read:hover {
  opacity: 0.5;
  }
  .read::before {
    content: url(./images/arrows-1.svg);
    margin-right: 5%;
    margin-top: 3%;
  }
  .phone-image {
    width: 100%;
    position: absolute;
    max-height: 300px;
    top: 300px;

  }
  .header__button_profile_tablet_only {
    display: none;
  }
  .header__button_message_tablet_only {
    display: none;
  }
  .header__button_phone_tablet_only {
    display: none;
  }
  .first-block__article_tablet_text {
    display: none;
  }
  .read_tablet_only { 
    display: none;
  }
  .tablet-image {
    display: none;
  }
  .desktop {
    display: none;
  }
}
@media  screen and (min-width: 768px) and (max-width: 1120px) {
  .wrapper {
    display: flex; 
    flex-wrap: wrap;
    width: 100%;
    min-width: 320px;
    height: 100vh;
    background-color: rgba(248, 248, 248, 1);
  }
  .header {
    position: relative;
    display: flex;
    width: 100%;
    min-width: 320px;
    height: 88px;
    background-color: #ffffff;
    border: 0; 
    border-bottom: 1px solid rgba(217, 255, 245, 1);
  }
  .header__button_menu {
    position: absolute;
    left: 3%;
    background-image: url(./images/svg-1.svg);
    width: 40px;
    height: 40px;
    border: none;
    background-color: #ffffff;
    top: 27%;
    transition: transform 0.5s ease;
  }
  .header__button_menu:hover {
    transform: scale(1.1);
    cursor: pointer; 
  }

  .header__button_cps {
    position: absolute;
    top: 21.1%;
    left: 13.6%;
    background-image: url(./images/svg.svg);
    width: 98.55px;
    height: 50.81px;
    border: none;
    background-color: #ffffff;
    background-repeat: no-repeat;
  } 
  .header__button_cps::before{
    content: url(./images/line.svg);
    position: absolute;
    top: 18%;
    left: -23%;
    width: 2px;
    height: 32px;
  }
  .header__button_search {
    position: absolute; 
    top: 27%;
    left: 91.5%;
    width: 40px;
    height: 40px;
    background-image: url(./images/svg-3.svg);
    border: none; 
    background-color: #ffffff;
    transition: transform 0.5s ease; 
    }
    .header__button_search:hover {
      transform: scale(1.1);
      cursor: pointer;
    }
    .header__divider_before_repair::before {
      content: url(./images/line.svg);
      position: absolute;
      top: 31%;
      left: 81%;
      width: 2px;
      height: 32px;
    }
    .header__button_repair {
    position: absolute; 
    top: 27%;
    left: 84%;
    width: 40px;
    height: 40px;
    background-image: url(./images/svg-2.svg);
    border: none; 
    background-color: #ffffff;
    transition: transform 0.5s ease;
    }
    .header__button_repair:hover {
     transform: scale(1.1);
    cursor: pointer;
    }
    .header__button_profile_tablet_only {
      position: absolute;
      top: 27%;
      left: 73%;
      background-image: url(./images/profile.svg);
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      border: none;
      background-color: #fff;   
      transition: transform 0.5s ease;    
    }
    .header__button_profile_tablet_only:hover {
      transform: scale(1.1);
     cursor: pointer;
     }
    .header__button_message_tablet_only {
      position: absolute;
      top: 27%;
      left: 65.5%;
      background-image: url(./images/message.svg);
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      border: none;
      background-color: #fff; 
      transition: transform 0.5s ease;
    }
    .header__button_message_tablet_only:hover {
      transform: scale(1.1);
     cursor: pointer;
     }
    .header__button_phone_tablet_only {
      position: absolute;
      top: 27%;
      left: 58%;
      background-image: url(./images/phone.svg);
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      border: none;
      background-color: #fff; 
      transition: transform 0.5s ease;
    }
    .header__button_phone_tablet_only:hover {
      transform: scale(1.1);
     cursor: pointer;
     }
    .main {
      display: flex;
      position: absolute;
      top: 88px;
      width: 100%;
      background-color: #F8F8F8;
    }
    @font-face {
      font-family: TT Lakes bold;
      src: url(./fonts/TTLakes-Bold.ttf);
    }
    .title {
      display: flex;
      position: absolute ;
      top: 8px; 
      width: 100%; 
      align-items: center;
      font-family: TT Lakes bold;
      letter-spacing: -0.6px;
      font-size: 28px;
    }
    .title::before {
     content: url(./images/blue-line.svg);
     width: 4px;
     height: 40px;
     margin-right: 3%;
   }
   @font-face {
    font-family: TT Lakes Regular;
    src: url(./fonts/TTLakes-Regular.ttf);
   } 
    
   .scroll {
    display: flex;
    position: absolute;
    top: 100px;
    left: 3.5%;
    width: 96%;
    height: 48px;
    overflow-x: scroll;
    white-space: pre;
   }
  .scroll__repairs {
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
   .scroll__repairs:hover {
   border: 2px solid rgba(184, 255, 236, 1); 
   background-color: #ffffff;
  border-radius: 6px; 
  padding: 18px;
  display: flex;
  align-items: center;
  color: rgba(126, 126, 130, 1);
  font-family: TT Lakes Regular;
  font-size: 16px;
  cursor: pointer;
  }
  .scroll__addition {
   
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
     border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
  .scroll__addition:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }
     .scroll__prices {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__prices:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }
     .scroll__special-prices {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__special-prices:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }
     .scroll__adresses {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__adresses:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     } 
     .scroll__reviews {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__reviews:hover {
     border: 2px solid rgba(184, 255, 236, 1); 
     background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }  
     .scroll::-webkit-scrollbar {
      width: 12px; 
      height: 8px;              
    }
    .scroll::-webkit-scrollbar-track {
      background: #F8F8F8;
    }
    .scroll::-webkit-scrollbar-thumb {
      background-color: gray;  
      border-radius: 20px;       
      border: 3px solid #F8F8F8;  
    }
    body::-webkit-scrollbar {
      width: 12px; 
      height: 8px;              
    }
    body::-webkit-scrollbar-track {
      background: #F8F8F8;
    }
    body::-webkit-scrollbar-thumb {
      background-color: gray;  
      border-radius: 20px;       
      border: 3px solid #F8F8F8;  
    }
    .first-block {
      width: 100%;
      height: 85%; 
     margin-top: 180px;
     flex-wrap: nowrap;
     display: flex;
     justify-content: space-around;
   
    }
    .first-block__article { 
      width: 40%; 
      font-size: 14px;
      color: rgba(27, 28, 33, 1);
      font-family: TT Lakes Regular; 
      text-align: left;
      letter-spacing: 0.2px;
      line-height: 18px;
  
    }
   .first-block__article_text {
   margin: 0;
  }
    .read {
      align-items: center;
      top: 100%;
      white-space: pre;
      background-color: #F8F8F8;
      border: none;
      font-size: 16px;
      font-family: TT Lakes Regular;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .read:hover {
    opacity: 0.5;
    }
    .read::before {
      content: url(./images/arrows-1.svg);
      margin-right: 5%;
      margin-top: 3%;
    }
    .tablet-image {
    width: 46%;
    }
  .phone-image {
    display: none;
  }
  .desktop {
    display: none;
  }
}

@media  screen and (min-width: 1120px) {
  body {
    background-color: #F8F8F8;
  }
  .main {
  display: none;
  }
  .header {
    display: none;
  }
  @font-face {
    font-family: TT Lakes bold;
    src: url(./fonts/TTLakes-Bold.ttf);
  }
  @font-face {
    font-family: TT Lakes Regular;
    src: url(.ы/fonts/TTLakes-Regular.ttf);
   } 
  .desktop__header {
    display: flex;
    width: 100%;
    gap: 25px;
    margin-top: 42px;
    flex-wrap: wrap;
    position: absolute;
  }
  .desktop__header_title {
    display: flex; 
   
    width: 62%; 
    align-items: center;
    font-family: TT Lakes bold;
    letter-spacing: -0.6px;
    font-size: 28px;
    margin: 0;
  }
  .desktop__header_title::before {
    content: url(./images/blue-line.svg);
    width: 4px;
    height: 40px;
    margin-right: 5%;
}
.desktop__header_send_message_button { 
  display: flex;
  align-items: center;
  white-space: pre;
  background-color: #F8F8F8;
  border: none;
  font-family: TT Lakes Regular;
  color: rgba(27, 28, 33, 1);
  font-size: 16px;
  letter-spacing: -0.2px;
  font-weight: 600;
transition: transform 0.5s ease;
}
.desktop__header_send_message_button::after {
  content: url(./images/svg-2.svg);
  width: 40px;
  height: 40px;
  margin-left: 5%;
}
.desktop__header_send_message_button:hover {
transform: scale(1.1);
cursor: pointer;
}
.desktop__header_repair-status_button {
  display: flex;
  align-items: center;
  white-space: pre;
  background-color: #F8F8F8;
  border: none;
  font-family: TT Lakes Regular;
  color: rgba(27, 28, 33, 1);
  font-size: 16px;
  letter-spacing: -0.2px;
  font-weight: 600;
transition: transform 0.5s ease;
margin-right: 25px;
}
.desktop__header_repair-status_button::after {
  content: url(./images/svg-3.svg);
  width: 40px;
  height: 40px;
  margin-left: 5%;
}
.desktop__header_repair-status_button:hover {
  transform: scale(1.1);
  cursor: pointer;
  }
  .scroll {
    position: absolute;
    left: 3%;
    top: 56px;
    display: flex;
    width: 100%;
    height: 48px;
    overflow-x: scroll;
    white-space: pre;
   }
  .scroll__repairs {
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
   .scroll__repairs:hover {
   border: 2px solid rgba(184, 255, 236, 1); 
   background-color: #ffffff;
  border-radius: 6px; 
  padding: 18px;
  display: flex;
  align-items: center;
  color: rgba(126, 126, 130, 1);
  font-family: TT Lakes Regular;
  font-size: 16px;
  cursor: pointer;
  }
  .scroll__addition {
   
    padding: 20px;
    font-family: TT Lakes Regular;
    color: rgba(126, 126, 130, 1);
    font-size: 16px;
    display: flex;
    align-items: center;
    cursor: pointer;
     border: none;  
    background-color: rgba(248, 248, 248, 1);
  }
  .scroll__addition:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }
     .scroll__prices {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__prices:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }
     .scroll__special-prices {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__special-prices:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }
     .scroll__adresses {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__adresses:hover {
  
      border: 2px solid rgba(184, 255, 236, 1); 
      background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     } 
     .scroll__reviews {
      padding: 20px;
      font-family: TT Lakes Regular;
      color: rgba(126, 126, 130, 1);
      font-size: 16px;
      display: flex;
      align-items: center;
      cursor: pointer;
      border: none;  
      background-color: rgba(248, 248, 248, 1);
    }
     .scroll__reviews:hover {
     border: 2px solid rgba(184, 255, 236, 1); 
     background-color: #ffffff;
     border-radius: 6px; 
     padding: 18px;
     display: flex;
     align-items: center;
     color: rgba(126, 126, 130, 1);
     font-family: TT Lakes Regular;
     font-size: 16px;
     }  
     .scroll::-webkit-scrollbar {
      width: 12px; 
      height: 8px;              
    }
    .scroll::-webkit-scrollbar-track {
      background: #F8F8F8;
    }
    .scroll::-webkit-scrollbar-thumb {
      background-color: gray;  
      border-radius: 20px;       
      border: 3px solid #F8F8F8;  
    }
    body::-webkit-scrollbar {
      width: 12px; 
      height: 8px;              
    }
    body::-webkit-scrollbar-track {
      background: #F8F8F8;
    }
    body::-webkit-scrollbar-thumb {
      background-color: gray;  
      border-radius: 20px;       
      border: 3px solid #F8F8F8;  
    }
    .desktop-section {
      display: flex;
      position: absolute;
      top: 180px;
      left: 3%;
      gap: 3%;
      width: 95%;
      left: 3%;
      text-align: left;
    }
    .desktop-section__image {
      width: 47%;
    }
    .desktop-text {
      font-family: TT Lakes Regular; 
      font-size: 14px;
    }
    .desktop-read {
      display: flex;
      align-items: center;
      position: absolute;
      white-space: pre;
      background-color: #F8F8F8;
      border: none;
      font-size: 16px;
      font-family: TT Lakes Regular;
      font-weight: bold;
      cursor: pointer;
      transition: all 0.5s ease;
    }
    .desktop-read:hover {
      opacity: 0.5;
      }
    .desktop-read::before {
      content: url(./images/arrows-1.svg);
      margin-right: 5%;
      margin-top: 3%;
    }
}